<div class="score">
    <div class="vote">
        <a class="up" onclick="gaondo.voteUp({{ data.subjectId }})">
            <i class="far fa-thumbs-up"></i>
        </a>
        <a class="down" onclick="gaondo.voteDown({{ data.subjectId }})">
            <i class="far fa-thumbs-down" ></i>
        </a>
    </div>
    <div class="value">
        <span id="score_{{ data.subjectId }}">{{ data.score }}</span>
    </div>
</div>
<script>

</script>