<div class="score">
    <div class="vote up" onclick="gaondo.voteUp({{ data.subjectId }})"></div>
    <div class="vote down" onclick="gaondo.voteDown({{ data.subjectId }})"></div>
    <div class="value">
        <span id="score_{{ data.subjectId }}">{{ data.score }}</span>
    </div>
</div>
<script>

</script>