body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;

  .link {
    color:blue;
    text-decoration:underline;
    cursor:pointer;
  }

  #header {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    height: 4em;
    width: 100%;
    background-color: #3f4e5e;

    h1 {
      display: block;
      width: 200px;
      margin: 0.5em;
      color: #fff;

      a {
        color: #fff;
        text-decoration: none;
      }
    }

    .nav {
      position: absolute;
      right: 1em;
      top: 1em;

      a {
        padding: 1em;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
      }
    }
  }

  #content {
    display: block;
    margin: 4em auto;
    max-width: 640px;

    .meme {
      a {
        text-decoration: none;

        h2 {
          color: #000;
        }
      }

      img {
        max-width: 100%;
        height: auto;
      }

      .meta {
        display: flex;
        justify-content: space-between;
      }

      .description {
        margin-top: 20px;
      }
    }

    .error {
      color: #ff0000;
    }

    .success {
      color: #00a000;
    }

    .border {
      border: 1px solid #cccccc;
      padding: 5px;
    }

    h2 {
      padding-top: 1em;
    }

    form {
      label {
        display: block;
      }

      input,
      textarea {
        display: block;
        margin-bottom: 1em;
      }

      button {
        display: inline-block;
        margin: 1em 0;
      }
    }

    .userProfile {
      #avatarFile {
        display: none;
      }

      .avatar {
        width: 120px;
        height: 120px;
        background-size: cover;
        background-position: center;

        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }
      }
    }

    .profile {
      a {
        display: block;
        margin: 1em 0;
      }
    }

    .user {
      .avatar {
        width: 40px;
        height: 40px;
        background-size: cover;
        background-position: center;
        display: inline-block;
        vertical-align: top;
      }

      .username {
        display: inline-block;
      }
    }

    .stream {
      display: block;

      .meme {
        margin-top: 1em;
        padding: 10px;
        border: 2px solid #DDDDDD;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    #comments {
      .comment {
        border-top: 1px solid #AAAAAA;

        padding: 10px 0;

        .info {
          font-size: 10px;
          margin-bottom: 10px;
        }
      }
    }

    .score {
      display: inline-block;
      width: 30px;

      .arrow {
        width: 0;
        height: 0;
        border-style: solid;

        &.up {
          border-width: 0 15px 15px 15px;
          border-color: transparent transparent #888888 transparent;

          &:hover {
            border-bottom-color: #008000;
          }
        }

        &.down {
          border-width: 15px 15px 0 15px;
          border-color: #888888 transparent transparent transparent;

          &:hover {
            border-top-color: #800000;
          }
        }
      }

      .value {
        text-align: center;
        padding: 3px;
      }
    }
  }

  #footer {
    display: block;
    position: fixed;
    bottom: 0;
    height: 2em;
    width: 100%;
    margin: 0;
    background-color: #3f4e5e;

    .copyright {
      color: #fff;
      text-align: center;
      padding:10px;
    }
  }
}