@import "fa-svg-with-js.css";

$color-rose: #ec97c0;
$color-red: #c92027;
$color-grey: #c0c0c0;

.button-red {
  color: #ffffff;
  font-size: 1em;
  background-color: $color-red;
  border: 1px solid transparent;
  border-radius: 3px;
  text-decoration: none;
  padding: 2px 12px;

  &:hover {
    color: $color-red;
    background-color: #ffffff;
    border: 1px solid $color-red;
    cursor: pointer;
  }

  &.small {
    font-size: .8em;
  }
}

.button-rose {
  color: $color-red;
  background-color: $color-rose;
}

.rose-box {
  border: 2px solid $color-rose;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.5);
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);

  a {
    text-decoration: none;
  }

  .title {
    background-color: $color-rose;

    h2,
    a h2 {
      color: #ffffff;
      margin: 0;
      padding: 2px 10px;
      font-size: 1em;
      font-weight: normal;
    }
  }

  .content {
    padding: 10px;
  }
}

hr {
  color: $color-rose;
  border: 0; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(236, 151, 192, 1), rgba(0, 0, 0, 0));
}

input,
textarea {
  border: 1px solid $color-rose;
  border-radius: 3px;
  padding: 5px;
}

form {
  label {
    display: block;
  }

  input,
  textarea {
    display: block;
    margin-bottom: 1em;
  }

  button {
    display: inline-block;
    margin: 1em 0;
  }

  input[type="submit"],
  button {
    font-size: .8em !important;
  }
}

.icon {
  &.icon-comment {
    display: inline-block;
    margin-bottom: -4px;
    width: 24px;
    height: 20px;
    background-image: url('../images/icons/comment.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-image: url('../images/bg_paper.jpg');

  .link {
    color:blue;
    text-decoration:underline;
    cursor:pointer;
  }

  #header {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    height: 4em;
    width: 100%;
    background-color: $color-rose;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    z-index: 999;

    .logo {
      display: block;
      height: 42px;
      width: 141px;
      position: absolute;
      top: 10px;
      margin: 0 auto;
      left: 0;
      right: 0;
      background-image: url('../images/gaondo_logo.png');
      background-position: center center;
      background-repeat: no-repeat;
      z-index: 100;

      &:hover {
        opacity: .8;
      }
    }

    h1 {
      display: block;
      width: 200px;
      margin: 0.5em;
      color: #fff;
    }
  }
}

.nav-wrapper {
  position: relative;
  max-width: 640px;
  margin: 0 auto;

  .icon {
    font-size: 40px;
    color: $color-red;

    &:hover {
      color: #ffffff;
    }
  }
}

.nav-add {
  position: relative;
  left: 0;
  top: 10px;
  display: inline-block;
}

.nav-user {
  position: absolute;
  top: 10px;
  right: 0;

  .avatar {
    border: 3px solid $color-red;

    &:hover {
      border-color: #ffffff;
    }
  }
}

#content {
  display: block;
  margin: 5em auto;
  max-width: 640px;

  .meme {
    img {
      max-width: 100%;
      height: auto;
    }

    .meta {
      display: flex;
      justify-content: space-between;

      .date {
        font-size: .7em;
        color: $color-grey;
      }

      .comment-count {
        margin: 10px;
        text-align: center;
      }
    }

    .description {
      margin-top: 20px;
      padding: 10px;
    }
  }

  .error {
    color: #ff0000;
  }

  .success {
    color: #00a000;
  }

  .userProfile {
    #avatarFile {
      display: none;
    }

    .avatar {
      width: 120px;
      height: 120px;
      background-size: cover;
      background-position: center;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }
  }

  .profile {
    a {
      display: block;
      margin: 1em 0;
    }
  }

  .meme {
    margin-top: 1em;

    img {
      width: 100%;
      height: auto;
    }

    .meta {
      padding: 10px;
    }
  }

  .stream {
    display: block;
  }

  .score {
    display: block;
    width: 55px;

    .vote {
      display: inline-block;
      width: 24px;
      height: 23px;

      &.up {
        background-image: url('../images/icons/up.png');
        left: 0;
      }

      &.down {
        background-image: url('../images/icons/down.png');
        float: right;
      }

      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }
    }

    .value {
      background-color: $color-red;
      text-align: center;
      padding: 3px;
      border-radius: 3px;
      color: #ffffff;
      font-size: .8em;
    }
  }
}

.user {
  .avatar {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
    display: block;
    vertical-align: top;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .username {
    display: block;
    text-align: center;
    font-size: .8em;
  }
}

.login {
  .remember {
    input,
    label {
      display: inline-block;
    }
  }

  .register {
    padding: 10px;
  }
}

.commentForm {
  text-align: center;

  .close-commentForm {
    display: none;
  }

  div,
  form,
  label {
    display: inline-block;
    vertical-align: top;
  }

  label {
    vertical-align: middle;
  }

  button {
    margin: 0 6px;
  }

  input[type="text"] {
    display: inline-block;
    width: 200px;
    margin: 0 6px;
  }
}

.comments {
  padding: 10px;

  h3 {
    text-align: center;
  }

  .info {
    display: inline-block;
  }

  .user {
    float: left;
    margin-right: 10px;
    background-color: #ffffff;
    padding: 1px;
    border-radius: 50%;
    border: 1px solid $color-red;
  }
  
  .username {
    display: none !important;
  }
  
  .datetime {
    float: right;
    border-radius: 3px;
    font-size: .7em;
    color: $color-grey;
    padding: 2px 8px;
    margin-left: 10px;
  }

  ul {
    list-style: none;
    padding: 0;

    ul {
      border-left: 1px solid $color-rose;
      border-image: linear-gradient(to bottom, rgba(236, 151, 192, 0.5), rgba(236, 151, 192, 1), rgba(0, 0, 0, 0)) 1 100%;
      padding-left: 5px;
      margin-left: 5px;
    }
  }

  .text {
    background-color: rgba(236, 151, 192, 0.2);
    border-radius: 5px;
    padding: 10px;
    margin-left: 5px;
    position: relative;

    .author {
      font-size: .7em;
    }

    .commentForm {
      padding: 5px;
      border-radius: 5px;

      .close-commentForm {
        display: inline-block;
      }
    }
  }

  .actions {
    text-align: center;

    a {
      background-color: rgba(236, 151, 192, 0.2);
      padding: 0 10px 5px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      color: $color-red;
      
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    .button-red {
      background-color: rgba(236, 151, 192, 0.2);
      padding: 0 5px;
      margin-top: -40px;
    }
  }
}

.user-list {
  table {
    width: 100%;
  }

  th {
    text-align: left;
  }
}

#footer {
  display: block;
  position: fixed;
  bottom: 0;
  height: 2em;
  width: 100%;
  margin: 0;
  background-color: $color-red;
  box-shadow: 0 -5px 8px rgba(255,255,255,1);

  .copyright {
    color: #fff;
    text-align: center;
    padding:10px;
  }
}

@media (max-width: 640px) {
  #content {
    margin: 5em 0.5em;
  }

  .nav-wrapper {
    margin: 0 .6em;
  }
}
