<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Gaondo{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/global.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block header %}
            <div id="header"></div>
        {% endblock %}

        {% block content %}
            <div id="content"></div>
        {% endblock %}

        <div id="footer">
            <div class="copyright">© 2017</div>
        </div>

        {% block scripts %}
            <script src="{{ asset('build/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
