<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Gaondo{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/global.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    </head>
    <body>
        {% block header %}
            <div id="header">
                <div class="header">
                    <h1 class="logo">
                        <a href="/">Gaondo</a>
                    </h1>
                    <div class="nav">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <a href="/newMeme">{% trans %}main.upload{% endtrans %}</a>
                            <a href="/profile">{{ app.user.username }}</a>
                            <a href="/logout">{% trans %}main.logout{% endtrans %}</a>
                        {% else %}
                            <a href="/register">{% trans %}main.register{% endtrans %}</a>
                            <a href="/login">{% trans %}main.login{% endtrans %}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endblock %}

        <div id="content">
            <div id="react"></div>
            {% block content %}
                Welcome to Gaondo!
            {% endblock %}
        </div>

        <div id="footer">
            <div class="copyright">© 2017</div>
        </div>
        
        <script src="{{ asset('build/app.js') }}"></script>
    </body>
</html>
