{% extends 'base.html.twig' %}

{% block content %}
    <div class="stream">
        <div id="about"></div>
        {% if memes|length < 1 %}
            hay nada
        {% endif %}
        {% for meme in memes %}
            <div id="m{{ meme.id }}" class="meme rose-box">
                {% embed ":meme:single.html.twig" with { link: true } %}

                    {% block description %}
                    {% endblock %}

                    {% block comments %}
                    {% endblock %}
                {% endembed %}
            </div>
        {% endfor %}
    </div>
    <script type="text/javascript">
        var loading = false;
        var offset = {{ memes|length }};

        $(function () {
            $(document).scroll(function () {
                if (loading)
                    return false;
                if ($(window).scrollTop() >= $(document).height() - $(window).height() - 700) {
                    loading = true;
                    $.get("/m/", { offset: offset, limit: 5}).done(function (response) {
                        if (response.length > 0) {
                            response.forEach(function (meme) {
                                if (!$("#" + meme["descriptor"]).length) {
                                    $(".stream").append(meme["element"]);
                                }
                            });
                            offset += response.length;
                            loading = false;
                        }
                    });
                }
            })
        });
    </script>
{% endblock %}