{% extends 'base.html.twig' %}

{% block content %}
    <div class="stream">
        {% if memes|length < 1 %}
            hay nada
        {% endif %}
        {% for meme in memes %}
            <div id="m{{ meme.id }}" class="meme">
                {% embed ":meme:single.html.twig" with { link: true } %}

                    {% block description %}
                    {% endblock %}

                    {% block comments %}
                    {% endblock %}
                {% endembed %}
            </div>
        {% endfor %}
    </div>
{% endblock %}