{% extends '@FOSUser/layout.html.twig' %}

{% block fos_user_content %}
    <h2>{% trans %}register.welcomeToGaondo{% endtrans %}</h2>

    <p>{% trans %}register.activated{% endtrans %}</p>

    <p><a href="/">Ir a página principal</a></p>
{% endblock fos_user_content %}