{% trans_default_domain 'FOSUserBundle' %}

<div class="rose-box">
    <div class="title">
        <h2>Unirte</h2>
    </div>
    <div class="content">
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
            {{ form_widget(form) }}
            <div class="tos">
                {% embed "tos.html.twig" %}{% endembed %}
            </div>
            <p>
                <input type="submit" class="button-red" value="{{ 'registration.submit'|trans }}" />
            </p>
        {{ form_end(form) }}
    </div>
</div>
