<div class="user">
    <a href="/u/{{ user.id }}/profile">
        <div class="avatar" style="background-image: url({{
            web_image(user.avatarUrl).zoomCrop(40,40,0,'center','center')
        }})"></div>
        <div class="username">
           {{ user.username }}
        </div>
    </a>
</div>