{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
<div class="login">
    <div class="login rose-box">
        <div class="title">
            <h2>{% trans %}main.login{% endtrans %}</h2>
        </div>
        <div class="content">
            {{ include('@FOSUser/Security/login_content.html.twig') }}
            <a href="{{ path('fos_user_resetting_request') }}">{% trans %}register.forgotPassword{% endtrans %}</a>
        </div>
    </div>
{% endblock fos_user_content %}
