{% if comments|length < 1 %}
    <div>no comments</div>
{% endif %}
{% for comment in comments %}
    <div class="comment">
        <div class="info">
            {% embed "user/widget.html.twig" with { user: comment.author} %}{% endembed %}{{ comment.creationDate|date('d.m.Y / H:m') }}</div>
        <div class="text">{{ comment.text }}</div>
    </div>
{% endfor %}