{% if comments|length < 1 %}
    <div>no comments</div>
{% endif %}
{% for comment in comments %}
    <div class="comment" id="comment{{ comment.id }}">
        <div class="info">
            {% embed "user/widget.html.twig" with { user: comment.author} %}{% endembed %}{{ comment.creationDate|date('d.m.Y / H:m') }}</div>
        <div class="text">{{ comment.text }}</div>
        {% if app.user %}
            <div class="actions"><span class="link" onclick="replyForm({{ comment.id }})">{% trans %}main.reply{% endtrans %}</span></div>
        {% endif %}
    </div>
{% endfor %}
<script type="text/javascript">
    function replyForm(subjectId) {
        $('#commentForm').clone().attr('id', 'commentForm'+subjectId).appendTo('#comment'+subjectId);
        $('#commentForm'+subjectId+' #comment_subject').val(subjectId);
    }
</script>