{% extends 'base.html.twig' %}

{% block scripts %}{% endblock %}

{% block header %}
    <div id="header">
        <div class="header">
            <h1>Gaonda</h1>
            <div class="nav">
                <a href="/#!/register">Register</a><a href="/login">Login</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="content">
        <h2>Login</h2>

        <form action="{{ path('login') }}" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />

            <label for="password">Password:</label>
            <input type="password" id="password" name="_password" />

            {% if error %}
                <div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <button type="submit">login</button>
        </form>
    </div>
{% endblock %}




